@use "../../utils/globals.scss";

.btn {
  padding: 16px;
  min-width: 100%;
  border: none;
  background: linear-gradient(134.79deg, #63e1d9 -42.11%, #34a0cd 100%);
  box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.15925);
  border-radius: 24px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  cursor: pointer;

  @include globals.devices("tablet") {
    width: 280px;
    min-width: 200px;
  }

  &:hover {
    background: #8adae3;
  }
}
