.features {
  background-color: #181f2b;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 28px;

  &__wrapper {
    z-index: 2;
    position: absolute;
    padding: 0 28px;
    top: -60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    &--title {
      font-weight: 700;
      font-size: 24px;
      line-height: 36px;
      text-align: center;
      color: #ffffff;
    }

    &--subtitle {
      font-family: "Open Sans";
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      text-align: center;
      color: #ffffff;
      margin-bottom: 16px;
    }
  }

  &__grid {
    margin-top: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;

    .feature {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      gap: 8px;
      width: 100%;

      .feature__img{
        margin-bottom: 18px;
        height: 80px;
        width: 80px;
        object-fit: contain;
      }

      .feature__title {
        font-weight: 700;
        font-size: 18px;
        line-height: 24px;
        text-align: center;
        color: #ffffff;
      }
      .feature__desc {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        text-align: center;
        color: #ffffff;
      }
    }
  }
}
