@use "../../utils/globals.scss";

.hero {
  padding: 24px 36px 100px;
  background: #1b2330;
  position: relative;
  @include globals.devices("tablet") {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 360px 480px;
  }
  .illustration {
    width: 304px;
    height: 225px;
    object-fit: cover;
    z-index: 2;
    position: relative;
    @include globals.devices("tablet") {
      width: 720px;
      height: 534px;
      // margin-bottom: 100px;
    }
  }
  &__bg {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    @include globals.devices("tablet") {
      bottom: -130px;
    }
  }
}
