@use "../../utils/globals.scss";

.header {
  padding: 24px 20px;
  background: #1b2330;
  display: flex;
  justify-content: space-between;
  @include globals.devices("tablet") {
    padding: 74px 80px;
  }
  &__logo {
    width: 80px;
    height: 24px;

    @include globals.devices("tablet") {
      height: 52px;
      width: 176px;
      object-fit: cover;
    }
  }
  .header__bg {
    position: absolute;
  }

  &__links {
    display: flex;
    gap: 24px;

    &--link {
      text-decoration: none;
      font-family: "Raleway";
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
      color: #ffffff;

      @include globals.devices("tablet") {
        font-size: 16px;
        line-height: 19px;
      }
    }
  }
}
